<p>{{title}}</p> <!-- Interpolation-->
<input type="text" [value] ="ma_valeur"> <!-- Property binding--><br><br>
<input type="text" (click)="modifTitle()" [(ngModel)]="title">  <!-- Event Binding-->
<p>{{contenue.titre}} --- {{contenue.nb_eud}} étudiants</p>


<h1>Formumlaire</h1>
<div class="row">
    <div class="col-4">
        <input  class="form-control" name="{{contenue.titre}}" [(ngModel)]="contenue.nb_eud"  (change)="updateNb()"/>
    </div>
    <div class="col-4">
        <input  class="form-control" name="{{contenue.titre}}" [(ngModel)]="contenue.nb_eud"  (change)="updateNb()"/>
    </div>
</div>
